test/test_files/external/ext_subset.xml

<?xml version="1.0" encoding="UTF-8"?>
<!ENTITY extext SYSTEM "./basic.xml">
<!-- Basic example of an external DTD subset!!! -->
<!ENTITY % product-contents "(primary-image?, image+, review*)">
<!ELEMENT product %product-contents;>
<!ATTLIST product name CDATA #REQUIRED desc CDATA "&quot;Product&quot;" id CDATA #IMPLIED>
<!ATTLIST primary-image href CDATA #REQUIRED>
<!ATTLIST image href CDATA #REQUIRED>
<!ATTLIST review stars NMTOKEN "3">
<!NOTATION Products SYSTEM "products.db">
<!ENTITY img-ext ".png">
<?processor prod_proc.exe?>
<!-- END OF EXTERNAL DTD SUBSET-->