test/test_files/external/pe_in_element_decl.xml

<?xml version = "1.0" encoding = "Utf-8" ?>
<!ENTITY % pe1 "my-element">
<!ENTITY % pe2 "(front, body, back? )     ">
<!ENTITY % pe3 'abc'>
<!ENTITY % pe4 "widgets (widget)*">
<!ENTITY % pe5 "ul|b|i">
<!ENTITY % pe6 " EMPTY ">
<!ENTITY % pe7 "ANY">
<!ELEMENT root%pe7;>
<!ELEMENT%pe1;%pe2;>
<!ELEMENT ex2 (%pe3; | def)?>
<!ELEMENT %pe4;   >
<!ELEMENT p (#PCDATA|a|%pe5;|em)*>
<!ELEMENT metadata %pe6;>
<!ELEMENT abc ANY><!ELEMENT def ANY><!ELEMENT ul ANY>